/* Color Theme Swatches in Hex */
.Mercedes-AMG-F1-1-hex {
  color: #676d75;
}
.Mercedes-AMG-F1-2-hex {
  color: #2ab4a4;
}
.Mercedes-AMG-F1-3-hex {
  color: #9facb8;
}
.Mercedes-AMG-F1-4-hex {
  color: #333333;
}
.Mercedes-AMG-F1-5-hex {
  color: #f8f8f8;
}
.Mercedes-AMG-F1-6-hex {
  color: #2b2b2b2b;
}
